.site-header {
  background:rgb(225, 225, 225);
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.hamburger-menu{
  text-align: right;
  padding-right: 5em;

  
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
 
}

/*WORK & PROJECTS INTRO STYLE*/

.intro, .total_presentation{
  background-color: rgb(248, 248, 248);
  height: 600px;
  width: 470px;
}

 .title {
  padding-top: 150px;
}


.work_title{
color:rgb(28,27,32);
font-size:75px;
font-weight: bolder;
display: inline-block;

}

.bottom_row{
  padding-left: 150px;
  width: 150px;
  /*position:relative;  */
}

/*.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;	
}*/


/*INDIVIDUAL PROJECTS STYLE*/
.project_title{
text-align:center;
}

@keyframes jump {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/*.period{
color:rgb(216, 216, 216);
font-size:800%;
float: right;
padding-right: 60px;
  animation-duration: 1.5s;
  animation-name: jump;
}*/

.right_column_container {
  background-color: rgb(28,27,32);
  height: 600px;
  width: 470px;

}

.good_cents_title{
  font-size:70px;
  font-weight: lighter;
  display: inline-block;
  color:rgb(248, 248, 248);
  

}

.good_cents_description_container{
  background-color: rgb(28,27,32);
  height: 600px;
  width: 470px;
  color:rgb(248, 248, 248);
  
  
}
.good_cents_screenshot_container{
  background-color: rgb(248, 248, 248);
}

.right_column_title {
  color:rgb(248, 248, 248);
  font-weight: bolder;
  font-size: 45px;
   line-height: 75px;
  padding-top: 100px;
  text-align: left;
  padding-left: 25px;
  
  
}

#story_prongs{
  padding-top: 35px;
  margin-bottom: 0px;
}

 .right_column_text{
  line-height: 25px;
  padding-left: 22px;
  padding-right: 22px;
  margin: 0px;
  font-size: 17px;
  width: 400px;
  text-align: left;
  padding-left: 25px;
  letter-spacing: 1px;
  padding-top: 20px;
}

.another_story{
line-height: 75px;
}


#project_images{
   background-color:rgb(65,74,107);
   height: 600px;
   width: 470px;
}

.contact{
    color: rgb(28,27,32);
    text-align: center;
    font-size: 25px;
  }

@media only screen and (min-width:640px){
  .container {
     padding-left: 200px;
  }

  .hamburger-menu{
    display:none;
  }

  .main-nav{
    clear:both;

  }

  .main-nav ul {
    display:block;
   
  }
  .main-nav li {
    display:inline-block;
    border: none;
    padding-right: 10%;
    font-weight: lighter;
    
  }
  .underline {
    text-decoration: underline aqua;
  }

  .underline:hover{
    font-size: 150%;
  }

.launch {
font-size: 16px;
}

.launch:hover{
  text-decoration: underline aqua;
  font-size: 30px;
   
}

.project_ul{
  padding-top: 5%;
}

.project_li{
  font-size: 20px;
  text-align: left;
}

.scroll_down{
  font-size: 35px;
}

.scroll_down:hover{
  font-size: 100px;
}

}

